@charset "UTF-8";
@font-face {
    font-family: 'fonte-p';
    src: url(../fonts/Padauk-Regular.ttf);
}
@font-face {
    font-family: 'dicas-iniciante1';
    src: url(../fonts/RockSalt-Regular.ttf);
}

article h2 {
    text-indent: 10px;
    font-size: 15pt;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;

}
h3#faleconosco{
    position: absolute;
    font-size: 14px ;
    left:71pc;
    float: right;
 top:120px ;
    
}

figure#contato img {
     position:absolute;
     height: 12%;
     left:72pc;
     width: auto;
     bottom: 33pc;
     float: right;
     
     }
     
article h1{
    text-indent: 15px;
    font-size: 15pt;
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
} 
h3{
    font-family: dicas-iniciante1 ;
    text-indent: 15px;
    font-size: 15pt;
    font-weight: bolder;
}
p#artigoiniciante{
font-size: 13pt;
font-family: fonte-p;
text-indent: 30px;
margin-top: auto;

}

figcaption#artigo_dicas{
    border-bottom: 1px solid #000000;
    padding: 5px;
    margin-bottom:15px;
}

h4#iniciante{
    text-indent: 9px;
    margin: 5px;
}