@charset "UTF-8";
@font-face {
    font-family: 'font-sobre';
    src: url(../fonts/IndieFlower-Regular.ttf);
}

h1{
    font-size: 40pt;
    font-family: font-sobre;
    
}
p{
    font-size: 15pt;
    text-justify: auto;
}

div#interface{
    width: 960px;
    position: relative;
    padding: 13px;
    margin: -20px auto 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.904);
    background-color: rgba(173,216,230);
 }
.criador  {
width: 220px;
height: auto;
display: block;
float: right;
border-radius: 20px;
margin-bottom: 20px;
margin-top: right 50pc;
padding: 10px;
}
figcaption{
    display: block;
    float: right;
    text-align:right;
    padding-top: 190px;
    margin-top: -15px;
    margin-right: -6cm;
    padding-bottom: 10px;

}
footer#rodape{
    clear: both;
    border-top: 1px solid #000000;
    text-align: center;
}