@charset "UTF-8";

figure#contato img{
    position:absolute;
    height: 14%;
    left:72pc;
    width: auto;
    bottom: 30pc;
    float: right;
}
 h3#faleconosco{
    position: relative;
    font-size:larger;
    left:73pc;
    float: right;
 bottom:26.5pc ;
    
}